@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.gallery-body{
    background: linear-gradient(to bottom right, #CDDEFF, #E6B2C6);
}

.no-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59vh;
}