:root {
  --primary: #F58A07;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: white;
  border-radius: 20px;
  font-size: 1rem;
}

.btn--outline {
  background-color: transparent;
  color: white;
  padding: 8px 20px;
  border: 3px solid var(--primary);
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.btn--new {
  background-color: #0d205a;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
}

.btn--new {
  background-color: #0d205a;
  color: white;
  border-radius: 20px;
  font-size: 1.4rem;
}

.btn--new:hover {
  background-color: transparent;
  border: 3px solid black;
  font-weight: bold;
  transform: scale(1);
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

/* .btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  transition: 250ms;
} */

.btn:hover {
  transition: ease-out;
}

/* .btn--primary:hover {
  transition: all 0.3s ease-out;
} */

.btn--outline:hover {
  background-color: white;
  color: rgb(16, 16, 62);
}

.btn--primary:hover {
  transform: scale(1.1);
}