.iconcards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }

  .iconcards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;    
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  /* .iconcards__item:hover {
    transform: scale(1.1);
    /* box-shadow: 0 18px 16px -6px rgb(127, 126, 126); 
    box-shadow: 0 6px 20px rgba(202, 56, 255, 0.17);
  } */
  
  .iconcards__item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    height: 150px;
    width: 150px;
    color: #0d205a;
  }

  .iconcards__item__info {
    /* padding: 20px 30px 30px; */
    height: 150px;
    width: 350px;
  }
  
  .iconcards__item__text{
    display: flex;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 20px;
  }

  .iconcards__item__title{
    color: #000000;
    border-bottom: 3px solid #000000;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 10px;
  }


  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .iconcards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .iconcards__item {
      margin-bottom: 2rem;
    }
  }
  