.dropdown {
    position: relative;
    display: inline-block;
    width: 75px;
    padding: 0 10px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    top: 40px;
    right: 0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
    list-style: none;
    color: black;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown > button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.dropdown-item{
    padding: 10px 18px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    /* border-radius: 5px; */
}

.dropdown-item:hover{
    background-color: #ff904b;
    color: white;
}

.dropdown img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}